<h1>Редактирование информации о жанре</h1>

<%= render "form", genre: @genre %>

<div class="back-btn">
  <%= link_to "Вернуться к странице жанра без изменений", @genre, type: 'button', class: 'btn btn-my back-btn' %>
</div>
