<h1>Добавление нового жанра</h1>

<%= render "form", genre: @genre %>

<div class="back-btn">
  <%= link_to "Вернуться к списку жанров", genres_url, type: 'button', class: 'btn btn-my back-btn' %>
</div>
