<div id="<%= dom_id listbookauthor %>">
  <p>
    <strong>Book:</strong>
    <%= listbookauthor.book_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= listbookauthor.author_id %>
  </p>

</div>
