<h1>Editing listbookauthor</h1>

<%= render "form", listbookauthor: @listbookauthor %>

<br>

<div>
  <%= link_to "Show this listbookauthor", @listbookauthor %> |
  <%= link_to "Back to listbookauthors", listbookauthors_path %>
</div>
