<p style="color: green"><%= notice %></p>

<h1>Listbookauthors</h1>

<div id="listbookauthors">
  <% @listbookauthors.each do |listbookauthor| %>
    <%= render listbookauthor %>
    <p>
      <%= link_to "Show this listbookauthor", listbookauthor %>
    </p>
  <% end %>
</div>

<%= link_to "New listbookauthor", new_listbookauthor_path %>
