<h1>Редактирование информации об авторе</h1>

<%= render "form", author: @author %>

<div class="back-btn">
  <%= link_to "Вернуться к странице автора без изменений", @author, type: 'button', class: 'btn btn-my back-btn' %>
</div>
