<%= render 'layouts/message' %>

<h1>Список авторов</h1>
<h5>Выберите интересующего вас автора:</h5>

<div id="authors">
  <ul class="author-list">
    <% @authors.each do |author| %>
      <li>
        <%= link_to author.name, author_url(author), type: 'button', class: 'author' %>
      </li>
    <% end %>
  </ul>
</div>

<% if admin_signed_in? %>
  <div class="admin-book-tools align-items-center btn-toolbar border w-auto" role="toolbar" aria-label="Toolbar with button groups">
    <%= button_to "Добавить нового автора", new_author_url, method: :get, class: 'btn btn-my' %>
  </div>
<% end %>
