<h1>Добавление нового автора</h1>

<%= render "form", author: @author %>

<div class="back-btn">
  <%= link_to "Вернуться к списку авторов", authors_url, type: 'button', class: 'btn btn-my back-btn' %>
</div>
