<h1>Редактирование информации профиля</h1>

<%= render "form", user: @user %>

<div class="back-btn">
  <%= link_to "Вернуться к странице пользователя без изменений", @user, type: 'button', class: 'btn btn-my back-btn' %>
</div>
