<%= render 'layouts/message' %>

<h1>Регистрация</h1>

<%= render "form", user: @user %>

<div class="back-btn">
  <%= link_to "На главную", root_url, type: 'button', class: 'btn btn-my back-btn' %>
</div>
