<h1>Editing listbookgenre</h1>

<%= render "form", listbookgenre: @listbookgenre %>

<br>

<div>
  <%= link_to "Show this listbookgenre", @listbookgenre %> |
  <%= link_to "Back to listbookgenres", listbookgenres_path %>
</div>
