<div class="search-form d-flex justify-content-center">
  <%= form_with(url: search_books_url, method: :get) do |form| %>
    <div class="p-2">
      <label>Чтобы найти книгу, введите её название:</label> <br/>
    </div>
    <div class="p-2">
      <%= form.text_field :search, name: 'search_request[book_name]', style: 'width: 100%' %>
    </div>
    <div class="p-2 justify-content-center d-flex">
      <%= form.submit 'Найти', class: 'btn btn-my btn-block' %>
    </div>
  <% end %>
</div>