<h1>Редактирование информации о книге</h1>

<%= render "form", book: @book %>

<div class="back-btn">
  <%= link_to "Вернуться к книге без изменений", @book, type: 'button', class: 'btn btn-my back-btn' %>
</div>
