<div class="rules">
  <h1>Правила участия в обсуждении</h1>
  <h5>Пожалуйста, при обсуждении книг руководствуйтесь следующими правилами.
    В случае их нарушения ваш комментарий будет удалён.</h5>
  <ol>
    <li>
      Недопустимо использование нецензурной лексики
    </li>
    <li>
      Недопустимо оскорбление других пользователей
    </li>
    <li>
      Запрещается публиковать комментарии, нарушающие законы РФ
    </li>
  </ol>
</div>

<div class="back-btn">
  <%= link_to "Вернуться к списку книг", books_url, type: 'button', class: 'btn btn-my back-btn' %>
</div>
