<div id="<%= dom_id listuserlikedbook %>">
  <p>
    <strong>Book:</strong>
    <%= listuserlikedbook.book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= listuserlikedbook.user_id %>
  </p>

</div>
