<h1>Editing listuserlikedbook</h1>

<%= render "form", listuserlikedbook: @listuserlikedbook %>

<br>

<div>
  <%= link_to "Show this listuserlikedbook", @listuserlikedbook %> |
  <%= link_to "Back to listuserlikedbooks", listuserlikedbooks_path %>
</div>
