<p style="color: green"><%= notice %></p>

<h1>Listuserlikedbooks</h1>

<div id="listuserlikedbooks">
  <% @listuserlikedbooks.each do |listuserlikedbook| %>
    <%= render listuserlikedbook %>
    <p>
      <%= link_to "Show this listuserlikedbook", listuserlikedbook %>
    </p>
  <% end %>
</div>

<%= link_to "New listuserlikedbook", new_listuserlikedbook_path %>
