#circle {
    border: 2px solid rgba(146,156,165,.5);
    background: #fff;
    border-radius: 50%;
    height: 4px;
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 12px;*/
    width: 4px;
    z-index: 9;
}
.comment-children {
    border-left: solid 1px gray;
    background-color: white;
    padding-left: 18px;
    margin-left: 5px;
    position: relative;
}